:root {
    --black: #000000;
    --grey: #cccccc;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 130vh;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    width: 72px;
    height: 100vh;
    background: var(--black);
    transition: .5s;
    z-index: 100;
}

header:hover {
    width: 155px;
    background: rgba(0, 0, 0, 0.4);
}

.d-flex {
    display: flex;
    align-items: center;
}

.nav-btn {
    display: none;
    color: var(--white);
    font-size: 1.5em;
}

.logo {
    justify-content: center;
    width: 100vw;
    height: 88px;
    padding: 12px 4px;
    background: black;
    transition: .5s;
}

.logo img {
    height: 100%;
}

header:hover .logo {
    background: rgba(0, 0, 0, .4);
}

.link {
    padding: 5px;
    color: var(--grey);
    font-size: 1.25em;
    text-decoration: none;
    transition: .3s;
}

.link:hover {
    color: var(--white);
}

header:hover .linkin {
    opacity: 1;
}

.search-box {
    margin: 20px 0;
}

.icon {
    height: 25px;
    width: 40px;
    padding: 18px;
}

.linkin {
    padding: 10px 12px;
    font-size: .9em;
    opacity: 0;
    transition: .2s;
}

.active {
    color: var(--white);
}

.short {
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    width: 100vw;
}

.main {
    position: relative;
    top: 88px;
    left: 72px;
    width: calc(100vw - 72px);
    height: 100vh;
    background: red;
    transition: .5s;
}

header:hover~.main {
    left: 155px;
    width: calc(100vw - 155px);
}

@media only screen and (max-width:1920px) {
    header {
        width: 64px;
    }
    header:hover {
        width: 140px;
    }
    .logo {
        height: 76px;
        padding: 10px 4px;
    }
    .link {
        font-size: 1.15em;
    }
    .icon {
        width: 30px;
        padding: 16px;
    }
    .linkin {
        padding: 8px 12px;
    }
    .main {
        top: 76px;
        left: 64px;
        width: calc(100vw - 64px);
    }
    header:hover~.main {
        left: 140px;
        width: calc(100vw - 140px);
    }
}

@media only screen and (max-width:1500px) {
    header {
        width: 54px;
    }
    header:hover {
        width: 125px;
    }
    .logo {
        height: 64px;
        padding: 8px 3px;
    }
    .link {
        font-size: 1em;
    }
    .search-box {
        margin: 13px 0;
    }
    .icon {
        padding: 12px;
    }
    .linkin {
        padding: 5px 10px;
    }
    .main {
        top: 64px;
        left: 54px;
        width: calc(100vw - 54px);
    }
    header:hover~.main {
        left: 125px;
        width: calc(100vw - 125px);
    }
}

@media only screen and (max-width:1024px) {
    header {
        width: 46px;
    }
    header:hover {
        width: 110px;
    }
    .logo {
        height: 50px;
        padding: 6px 4px;
    }
    .link {
        font-size: .88em;
    }
    .linkin {
        padding: 3px 6px;
    }
    .main {
        top: 50px;
        left: 46px;
        width: calc(100vw - 46px);
    }
    header:hover~.main {
        left: 110px;
        width: calc(100vw - 110px);
    }
}

@media only screen and (max-width:550px) {
    header {
        width: 0;
    }
    header:hover {
        width: 0;
    }
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding: 5px 35px;
        background: var(--black);
    }
    .nav-btn {
        display: flex;
    }
    .logo {
        height: 64px;
    }
    .link {
        padding: 7px 35px;
        font-size: 1.3em;
    }
    .search-box {
        margin: 0;
        padding: 0;
        color: var(--white);
        font-size: 1.08em;
    }
    .search-box .linkin {
        display: none;
    }
    .icon {
        width: 25px;
        height: 25px;
        padding: 0;
    }
    .search-box .icon {
        justify-content: center;
    }
    .linkin {
        padding: 5px 22px;
    }
    .navbar {
        width: 0;
        height: 100%;
        padding: 20px 0;
        background: var(--black);
        transition: .5s;
    }
    .nav-item {
        display: none;
        opacity: 0;
        transition: 1s;
    }
    .nav-down {
        width: 100vw;
    }
    .d-link {
        display: flex;
    }
    .opaque {
        opacity: 1;
    }
    .main {
        top: 64px;
        left: 0;
        width: 100vw;
    }
    header:hover~.main {
        left: 0;
        width: 100vw;
    }
}
