:root {
    --black: #000000;
    --grey: #aeaeae;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}

body {
    height: 120vh;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    transition: .5s;
}

header:hover {
    width: 170px;
    background-color: rgba(0, 0, 0, .4);
}

header:hover .logo {
    background-color: rgba(0, 0, 0, .4);
}

header:hover .link p {
    opacity: 1;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

.link {
    padding: 13px;
    color: var(--grey);
    font-size: 1.2em;
    text-decoration: none;
    transition: .3s;
}

.link:hover {
    color: var(--white);
}

.logo {
    justify-content: center;
    width: 100vw;
    padding: 15px;
    background: var(--black);
    color: var(--white);
    font-size: 1.5em;
    transition: .5s;
}

.l-name {
    font-family: "Pacifico";
    letter-spacing: 2px;
    cursor: pointer;
    transition: .5s;
}

.search-box {
    margin: 22px 0;
    font-size: 1em;
}

.active {
    color: var(--white);
}

.icon {
    width: 30px;
    height: 35px;
    padding: 0 10px;
}

.logo .icon {
    width: 70px;
    height: 42px;
}

.linkin {
    padding: 0 15px;
    font-size: .9em;
    opacity: 0;
    transition: .4s;
}

.short {
    width: 100%;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
}

.nav-btn {
    display: none;
    width: 20px;
    color: var(--white);
    font-size: 1.3em;
}

@media only screen and (max-width:1920px) {
    header {
        width: 60px;
    }
    header:hover {
        width: 150px;
    }
    .link {
        padding: 10px;
        font-size: 1.1em;
    }
    .logo {
        padding: 13px;
        font-size: 1.35em;
    }
    .logo .icon {
        width: 66px;
        height: 38px;
    }
    .search-box {
        margin: 18px 0;
    }
    .linkin {
        padding: 0 12px;
    }
}

@media only screen and (max-width:1500px) {
    header {
        width: 50px;
    }
    header:hover {
        width: 125px;
    }
    .link {
        padding: 7px;
        font-size: .95em;
    }
    .logo {
        padding: 11px;
        font-size: 1.1em;
    }
    .icon {
        width: 24px;
        height: 27px;
        padding: 0 8px;
    }
    .logo .icon {
        width: 54px;
        height: 32px;
    }
}

@media only screen and (max-width:1024px) {
    header {
        width: 40px;
    }
    header:hover {
        width: 105px;
    }
    .link {
        font-size: .85em;
    }
    .icon {
        width: 20px;
        height: 24px;
        padding: 0 5px;
    }
    .logo {
        font-size: 1em;
    }
    .logo .icon {
        width: 40px;
        height: 28px;
    }
    .linkin {
        padding: 0 7px;
    }
    .search-box {
        margin: 10px 0;
    }
}

@media only screen and (max-width:750px) {
    .link {
        padding: 6px 7px;
    }
    .logo {
        padding: 9px;
    }
}

@media only screen and (max-width:500px) {
    header {
        width: 0;
    }
    header:hover {
        width: 0;
    }
    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding: 12px 25px;
        background: var(--black);
    }
    .link {
        padding: 8px 37px;
        font-size: 1em;
    }
    .icon {
        width: 25px;
        height: 25px;
        padding: 0;
    }
    .logo {
        width: auto;
        padding: 10px;
        font-size: 1.2em;
    }
    .logo .icon {
        width: 45px;
        height: 32px;
        padding: 0 4px;
    }
    .l-name {
        padding: 0 4px;
        letter-spacing: 1px;
    }
    .search-box {
        margin: 0;
        padding: 0;
        color: var(--white);
        font-size: 1em;
    }
    .search-box p {
        display: none;
    }
    .nav-btn {
        display: flex;
    }
    .navbar {
        width: 0;
        height: 100%;
        background: var(--black);
        transition: .5s;
    }
    .nav-item {
        display: none;
        opacity: 0;
        transition: 1s;
    }
    .nav-down {
        width: 100vw;
    }
    .d-link {
        display: flex;
    }
    .opaque {
        opacity: 1;
    }
}

.content {
    height: 100vh;
    width: 100vw;
    background: var(--white);
}